.result-layout {
  position: relative;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;

  .result-header {
    padding: 20px 10px; // 좌우 패딩 감소
    background-color: #e6c083;
  }

  .result-content {
    padding: 20px 10px; // 좌우 패딩 감소
    text-align: left;
    word-wrap: break-word;
  }
}

.card-button-link,
.card-button-kakao,
.card-button-insta {
  width: 100%; // 모바일에서 패딩 감소
  padding: 10px 10px;
  margin-top: 10px; // 버튼 간격 조정
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-button-link {
  background-color: #d4af37;
  color: #fdfcf5;

  &:hover {
    background-color: #b4952d;
  }
}

.card-button-kakao {
  background-color: #ffaa00;
  color: #fdfcf5;

  &:hover {
    background-color: #dd9900;
  }
}

.card-button-insta {
  background-color: #c13584;
  color: #fdfcf5;

  &:hover {
    background-color: #b02473;
  }
}

// 모바일 웹 대응
@media (max-width: 768px) {
  .card-button-link,
  .card-button-kakao,
  .card-button-insta {
    padding: 8px 0;
    font-size: 1em;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1000; // 다른 요소 위에 표시

  .popup-header {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .popup-content {
    margin-bottom: 20px;
  }

  .popup-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #d4af37; // 인스타그램 핑크색
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #b4952d; // 약간 어두운 핑크색
    }
  }
}
